.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
  color: white;
  background-color: #282c34;

  @media (min-width: 600px) {
    background-color: green;
  }
}

.login-button {
  width: 120px;
}